
	


	<div id="pagecontent">
		<h1> Hey Welcome to our famous noodle restaurant</h1>
			<h2> Here we do a lot of different noodles</h2>

			<!-- <nav class="navbar">
				<ul id="navright">Présentation</ul>
				<ul id="navmiddle">Menu</ul>
				<ul id="navleft">Lorem</ul>
			</nav> -->
			<div id = "menu">
	         <div>
	            <li><a href = "#navleft">Présentation</a></li>
	            <li><a href = "#navmiddle">Menu</a></li>
	            <li><a href = "#navright">Lorem</a></li>
	         </div>

	         <div class="submenu">
			<div id="navleft">
				<p>Ce resto est à la gastronomie des nouilles, ce que la gastronomie française est au brocoli :  une tuerie.<br>Mais non content de faire des nouilles, ici le chef fait aussi des pâtes, et des lasagnes.<br> On vous aura prévenu, c'est du lourd</p>
			</div>

			<div id="navmiddle">
				<p>Nouilles au choux</p>
				<p>Nouilles ricota épinards</p>
				<p>Nouilles au salsifi</p>
			</div>

			<div id="navright">
				<p> Ahaha vous vous attendiez à un lorem ipsum, et bien non; Souvent pour s'amuser les hommes d'équipage. Baudelaire ma gueule!!!</p>
			</div>
			</div>
	</div>
<script src = "index.js"></script>
