
    <!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
  </head>

  <body>

    <h1>Use of GOOGLE MAP API</h1>
    <form>
      <div class='input'>
        <label for="latitude">Latitude:</label>
        <input type="number" id="latitude" name="latitude"></input>
      </div>
      <div class='input'>
        <label for="longitude">Longitude:</label>
        <input type="number" id="longitude" name="longitude"></input>
      </div>
      <div class='input'>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message"></input>
      </div>

      <input type="submit" id="submit" value="Place Marker"></input>
    </form>
    <div id="map" style="height: 100%; width: 100%"></div>

<script src="assets/javascripts/index.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=Key&callback=initMap"
  async defer></script>
</body>
</html>
