// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #map {
    height: 100%;
    width: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

h1{
  font-weight: 700;
}


.input{
  display:inline-block;
  margin-bottom:10px;
}
form{
  width:500px;
  text-align: center;
}

#submit{
  display:block;
  margin:0 auto;
}


