
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <style>
      #map {
        height: 100%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <script src="assets/javascripts/index.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=Key&callback=initMap"
  async defer></script>
  </body>
</html>
